<p class="my-5">
  <strong class="block font-medium mb-1">Title:</strong>
  <%= article.title %>
</p>

<p class="my-5">
  <strong class="block font-medium mb-1">Content:</strong>
  <%= article.content %>
</p>
