<%= turbo_frame_tag "new_article" do %>
  <div class="flex justify-end">
    <%= link_to 'New', new_article_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
<% end %>
