<div class="w-full">
  <h1 class="font-bold text-4xl">Articles</h1>

  <%= turbo_frame_tag "new_article" do %>
    <div class="flex justify-end">
      <%= link_to 'New article', new_article_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  <% end %>

  <div id="articles" class="min-w-full">
    <%= render @articles %>
  </div>
</div>
