<%= turbo_frame_tag @article do %>
  <div class="py-3 px-5 my-3 rounded-md border border-gray-200 shadow-md">
    <h2 class="font-bold text-2xl">New article</h2>

    <%= render "form", article: @article %>

    <%= link_to 'Back', new_article_path(button: true), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
